@Model IEnumerable<>
@{
    ViewData["Title"] = "REAL TIME CURRENCY EXCHANGE RATE";
}

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <td>CurrencyCode</td>
            <td>ExchangeRate</td>
            <td>Date</td>
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.CurrencyCode</td>
                <td>@e.ExchangeRate</td>
                <td>@e.Date</td>
            </tr>
        }
    </table>

